@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: theme('colors.background');
        @apply text-text-body font-sans antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-text-heading font-bold;
    }
}